<mat-card>
    <mat-card-title>Atualizar produto</mat-card-title>
    <form *ngIf="req" class="product-form">
        <mat-form-field class="product-full-width">
          <input matInput placeholder="Nome" name="name" [(ngModel)]='req.name'>
        </mat-form-field>
      
        <mat-form-field class="product-full-width">
          <input matInput placeholder="Preço"  name="price" [(ngModel)]='req.price'>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="update()">Salvar</button>
    <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>