.header {
    position: fixed;
    top: 0;
    left: 200px;
    right: 0;
    z-index: 2;
    background: #3f51b5;
}

a {
    color: #fff;
    text-decoration: none;
}

i {
    margin: auto 4px;
    vertical-align: sub;
}