.header {
    position: fixed;
    background: #3f51b5;
    z-index: 2;
}

#logo {
    display: flex;
    max-height: 32px;
}

.title-group {
    margin-left: 28px;
}

a {
    color: #fff;
    text-decoration: none;
}

i {
    margin: auto 4px;
    vertical-align: sub;
}
