.container {
    position: absolute;
    top: 64px;
    bottom: 64px;
    left: 0;
    right: 0;
}

.sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: #3f51b5;
    color: #fff;
}

.nav-list {
    margin-top: 16px;
}

i {
    margin: 16px 8px;
}

.content {
    padding: 16px;
}