<table>
    <thead>
        <td>ID</td>
        <td>Nome</td>
        <td>Preço</td>
        <td>Ações</td>
    </thead>
    <tbody *ngIf="responseProducts">
        <tr *ngFor="let product of responseProducts">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>
                <a routerLink="/products/update/{{product.id}}">Editar</a> | 
                <a routerLink="/products/delete/{{product.id}}">Apagar</a>
            </td>
        </tr>
    </tbody>
</table>