.message {
    position: fixed;
    right: 16px;
    font-family: 'Montserrat', sans-serif;
}

strong span {
    color: rgb(227, 94, 107) !important;
}

.material-icons {
    color: rgb(227, 94, 107) !important;
    vertical-align: middle;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* z-index: 2; */
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* z-index: 1; */
}
